# See https://atom.io/docs/latest/creating-a-package#menus for more details

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'ROT13'
      'submenu': [
        { 'label': 'Convert', 'command': 'rot13:convert' }
        { 'label': 'Ankify', 'command': 'rot13:ankify' }
      ]
    ]
  }
]
